.lang-1 {
    color: blue;
}
.lang-2 {
    color:green;
}
.about {
    background-color: black;
    color: white;
}
.about-1{
    background-color: orange;
}
.name-1 {
    color:blue;
}
.name-2 {
    color: orange;
}
.description {
    color: orange;
}
.hobies {
    color: white;
}